<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
    </head>


    <body>

        <header>
            <h3>Hey, We know WhatWeDoing</h3>
        </header>
        <p>However, if you need additional help, visit the link below</p>
        <a href="https://www.w3schools.com/html/default.asp">
            <button>w3schools</button>
        </a>
        <img src="https://c.tenor.com/5RjV8Wgndb8AAAAC/kevin-the-office.gif">
    </body>
</html>